.App {
  background: lightgray;
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: Roboto, sans-serif;
}

.single-tour {
  display: flex;
  flex-direction: column;
  width: 600px;
  max-width: 800px;
  background: #fff;
  border-radius: 6px;
  margin-bottom: 10px;
}

.title > h2 {
  margin: 20px 0 0 0;
}

.title:after {
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  background: darkcyan;
  margin: 10px auto;
}

.single-tour img {
  width: 100%;
  -moz-background-size: cover;
  border-radius: 6px 6px 0 0;
}

.tour-info {
  display: flex;
  justify-content: center;
}

.tour-info {

}

.tour-info:nth-child(h4) {
  margin-top: 10px;
}

.tour-price {
  margin-left: 20px;
  color: #ccc;
  border: 1px solid #7d7d7d;
  padding: 5px;
  border-radius: 6px;

}

footer {
  padding: 5px;
}

footer > p > button {
  background: none;
  border: none;
  color: blue;
}

footer > p > button:hover {
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
}

.delete-btn {
  margin-bottom: 10px;
}